@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

header {
    background-image: linear-gradient(to bottom, #2b9c62, #033318);
    color: white;
}

.header-h1 {
    text-align: center;
    margin-bottom: 1em;
    padding-top: 0.7em;
    font-weight: normal;
}

.header-p {
    text-align: center;
    margin: auto;
    margin-bottom: 0.5em;
    width: 400px;
    font-weight: normal;
}

.header-nav {
    padding: 7px;
}

.header-nav-a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

.header-nav-a:hover {
    color: #145e34;
    background-color: #227e4a;
    border-radius: 5px;
    transition: all ease 0.2s;
}